home-page {
    .toolbar-background {
        background:#8BC34A;
        border-color: transparent; 
    }
    .card-background-page {
        .ion-card {
          position: relative;
          text-align: center;
          height: 100px;
          width:auto;
        }
        .card-title {
          position: absolute;
          top: 30%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #000000;
        }
        .card-subtitle {
          font-size: 1.3em;
          position: absolute;
          top: 60%;
          width: 100%;
          color: rgb(251, 255, 0);
        }
    }
    .img1{
        opacity: 0.5;
        z-index: -1;
        height: 100px;
        width: 100%;
    }
    .img2{
        height: 200px;
        width: 100%;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-image {
        max-height: 120px;
        max-width: 240px;
        margin: 0px 0px;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        left: 0;
        bottom: 0px;
        width: 100%;
    }
    .white-panel{
        position: relative;
        text-align: center;
        height: auto;
        width:auto;
        background-color:white;
        -webkit-box-shadow: 7px 13px 17px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 7px 13px 17px 0px rgba(0,0,0,0.7);
        box-shadow: 7px 13px 17px 0px rgba(0,0,0,0.7);
      }
}

