menu-page{
    ion-card{
        width:auto;
    }

    img{
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;

        
    }
    .toolbar-background {
        background:#8BC34A;
        border-color: transparent; 
    }
}